%h2 Detailansicht des Teams #{@team.name}

- if @team.users.include?(current_user)  
  - if current_user.teammemberships.where(:team_id => @team.id).first.admin == true
    = link_to "Editieren", edit_team_path(@team) 
    |
    = link_to "Löschen", team_path(@team),:confirm => "Wirklich löschen?" , :method => "delete"
    |
  - else
    = link_to "Mitgliedschaft beenden", user_teammembership_path(current_user, @teammembership), :method => "delete", :confirm => "Mitgliedschaft beenden?"

%h3 Teammitglieder
%table
  %tr
    %th Name
  = render @team.users

%h3 Ligen
%table
  %tr
    %th Liga
    %th Rang
    %th Punkte
  - @team.participations.each do |p|
    %tr
      %td
        = link_to p.ladder.name, ladder_path(p.ladder)
        = link_to image_tag('icon_trash.gif'), team_participation_path(@team,p), :method => :delete, :confirm => "Soll die Teilnahme an der Liga wirklich beendet werden?"
      %td= p.rank
      %td= p.elo_score


- if current_user.teams.include?(@team)
  - if @available_ladders.empty?
    Du bist bereits in allen Ligen
  - else
    %h3 Liga beitreten:
    = semantic_form_for [@team, @team.participations.build] do |f|
      = f.inputs  do
        = f.input :ladder, :label => "Ligen", :as => :select, :collection => @available_ladders, :prompt => "Bitte wählen"
      = f.buttons do
        = f.commit_button "Beitreten"



