%h2 Detailansicht des Teams #{@team.name}

- if @team.users.include?(current_user)
  = link_to "Editieren", edit_team_path(@team) 
  |
  = link_to "Löschen", team_path(@team),:confirm => "Wirklich löschen?" , :method => "delete"

%h3 Teammitglieder
%table
  %tr
    %th Name
  = render @team.users

%h3 Ligen
%table
  %tr
    %th Liga
  - @team.participations.each do |p|
    %tr
      %td= p.ladder.name


- if current_user.teams.include?(@team)
  %h3 Liga beitreten:
  = semantic_form_for @team.participations.build, :url => {:action => "create_participation"} do |f|
    = f.inputs  do
      = f.input :ladder, :label => "Ligen"
    = f.buttons do
      = f.commit_button "Beitreten"



