%h2 Detailansicht von #{@user.name}

%ul
  %li Erstellt am: #{@user.created_at}
  %li= link_to "Editieren", edit_user_path(@user)
  %li= link_to "Löschen", user_path(@user),:confirm => "Wirklich löschen?" , :method => "delete"

%h3 Teammigliedschaften
= link_to "Einem Team beitreten", new_user_teammembership_path(@user)
%table
  %tr
    %th Teamname
    %th Spieler
  = render @user.teams

