%h2 Hallo #{current_user.name}


%h3 Deine Platzierungen:
%table
  %tr
    %th Liga
    %th Rang
    %th Dein Team
  - current_user.teams.each do |t|
    - t.participations.each do |p|
      %tr
        %td= p.ladder.name
        %td= p.rank
        %td= p.team.name

= link_to "Trete einem Team bei"
oder 
= link_to "erstelle ein neues Team", new_team_path
