%h2= @ladder.name
%p 
  Ladder 
  = link_to "editieren", edit_ladder_path(@ladder)
  = link_to "löschen", ladder_path(@ladder),:confirm => "Wirklich löschen?" , :method => "delete"
  = link_to "neues Spiel eintragen", new_ladder_game_path(@ladder)

%h3 Rangliste
%table
  %tr
    %th Rang
    %th Team
    %th ELO Punkte
  - @ladder.participations.each do |p|
    %tr
      %td= p.rank
      %td= p.team.name
      %td= p.elo_score
 

%h3 Spiele
%table
  %th Datum
  %th Team 1 
  %th Ergebnis
  %th Team 2
  - @ladder.games.each do |g|
    %tr
      %td= g.created_at
      %td= g.team1.name
      %td #{g.score1} : #{g.score2}
      %td= g.team2.name

