!!!
%html
  %head
    %title League
    = stylesheet_link_tag "print"
    = stylesheet_link_tag "screen"
    = stylesheet_link_tag "formtastic"
    = stylesheet_link_tag "formtastic_changes"
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body.two-col
    #container
      #header
        #header_wrap
          .left
            %h1 Leaguesys
          .right.alignright
            - if user_signed_in?
              Angemeldet als:
              %br
              = current_user.name
              = link_to "(logout)", destroy_user_session_path
      #menu
        #menu_wrap
          %ul
            %li= link_to "Mein Profil", show_me_path
            %li= link_to "Ligen", ladders_path
      #content
        #content_wrap
          - if flash[:error]
            #flash_error
              = flash[:error]
          - if flash[:success]
            #flash_success 
              = flash[:success]
          = yield
      #footer
        Leaguesys

